<!-- Footer -->

<style>
  h3 {
    text-align: center;
}

</style>

<div class="w3-black w3-center w3-padding-24">
<h3>Team Members</h3>
<p>Gautham Lakkavajhala &nbsp; <a target="_blank" href="https://www.linkedin.com/in/gauthaml/"><i class="fa fa-linkedin w3-text-blue"></i></a> </p>
<p>Yashwanth Dantanoor &nbsp;  <a target="_blank" href="https://www.linkedin.com/in/yashwanth-dantanoor/"><i class="fa fa-linkedin w3-text-blue"></i></a> </p>
<p>Janardhan Reddy &nbsp; <a target="_blank" href="https://www.linkedin.com/in/janardhan-reddy-bommireddy"><i class="fa fa-linkedin w3-text-blue"></i></a> </p>
<p>Anila Devarshetty &nbsp; <a target="_blank" href="https://www.linkedin.com/in/anila-devarashetty-66960421b/"><i class="fa fa-linkedin w3-text-blue"></i></a> </p>
<p>Akhil Prathist &nbsp; <a target="_blank" href="https://www.linkedin.com/in/akhil-prathist-1710b114b/"><i class="fa fa-linkedin w3-text-blue"></i></a> </p>
</div>
